ENVIRONMENT="development"
API_KEY=""
SECRET_KEY=""
DB_NAME=""
FLIGHT_API_URL=""
DEFAULT_USER=""
DEFAULT_PASSWORD=""
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
CORS_ORIGIN="*"
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"