ENVIRONMENT="development"
API_KEY=""
SECRET_KEY=""
JWT_SECRET=""
DB_NAME="tiketq"
FLIGHT_API_URL="http://117.102.64.238:1212/api.pesawat.php"
DEFAULT_USER=""
DEFAULT_PASSWORD=""
DATABASE_URL="postgresql://user:password@localhost:5432/tiketq?schema=public"
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""

# Sindo Ferry API
FERRY_URL="https://api.test.sindoferry.com.sg"
FERRY_AGENT_CODE=YOUR_FERRY_AGENT_CODE
FERRY_USERNAME=YOUR_FERRY_USERNAME
FERRY_PASSWORD=YOUR_FERRY_PASSWORD

USER_NAME=""
PASS_WORD=""